@{var sessionData = Session["Email"]; }
@if (sessionData != null)
{
    using (Html.BeginForm("LogOut", "SiteUser", FormMethod.Post, new { @class = "navbar-right" }))
    {
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">@Html.ActionLink("Hello " + sessionData + "!", "DashBoard", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
            <li class="nav-item"><a href="~/SiteUser/Logout/">Log Out</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">@Html.ActionLink("Register", "Register", "SiteUser", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Log in", "Login", "SiteUser", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}