
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title></title>
</head>
<body>
   
    <p>
        <h2>
            Hi dear!
        </h2>
    </p>
    <p>
        <h2>
            Thank you for your patience! We just need to verify your email address for complete your registration!
        </h2>
    </p>
    <p>
        <h2>
            Click <a href="@ViewBag.ConfirmationLink">here</a>
        </h2>
    </p>
</body>
</html>
