
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:orangered;font-size:45px; color:white;">
        <img  style="float:left;" src="~/EmailTemplate/food-picky-logo.png"  class="navbar-brand"/>
        <b>Food Picky</b>
    </div>
    <div>

        <p>
            <h2>
                Hi dear!
            </h2>
        </p>
        <p>
            <h2>
              Thank you for your passions! We just need to verify your email address for complete your restaurant registration!
            </h2>
        </p>
        <p>
            <h2>
                Click <a href="@ViewBag.ConfirmationLink">here</a>
            </h2>
        </p>
    </div>
</body>
</html>
