
@{
    ViewBag.Title = "Confirm";
}
<p style="margin-top:120px;"></p>

<div class="alert alert-warning" id="confirmAccount">
    <strong>Confirm Your Account</strong>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" id="confirmBtn" class="btn btn-warning" value="Confirm" onclick="Verified()" />
</div>

<div class="alert alert-success" style="display:none;" id="moveNext">
    <strong><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp; Account Is Activate, Now You Can Touch With Your Profile</strong>
    <a href="~/Home/Dashboard" class="button anchor" style="text-decoration:none;">Click to move</a>
</div>

<script type="text/javascript">
    function Verified()
    {
        $.ajax({
            type: "post",
            url: "/SiteUser/RegisterConfirm",
            data: { 'userId': '@ViewBag.userID'},
            success: function (msg)
            {
                $('#moveNext').show();
                $('#confirmAccount').hide();

                alert(msg);
            }
        });
    }


</script>
<p style="margin-top:400px;"></p>