
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<div class="row" style="margin-top:45px;">
    
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header" style="background-color:#009688">
                <h5 class="text-white mb-0">TOP SPORTS</h5>
            </div>
            <div class="card-body">
                    <div id="chartSTopSports"  style="height: 300px; width: 100%;"></div>
            </div>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header" style="background-color:#009688">
                <h5 class="text-white mb-0">PROFIT CHARTS</h5>
            </div>
            <div class="card-body">
                <div id="chartSProfit" style="height: 300px; width: 100%;"></div>
            </div>
        </div>

    </div>
</div>
<div class="row" style="margin-top:45px;">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header" style="background-color:#009688">
                <h5 class="text-white mb-0">WIN RATE</h5>
            </div>
            <div class="card-body">
                <div id="winRateChart" style="height: 300px; width: 100%; "></div>

            </div>

        </div>
    </div>
</div>




@section scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <script type="text/javascript">
        // Radialize the colors
        Highcharts.setOptions({
            colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
                return {
                    radialGradient: {
                        cx: 0.5,
                        cy: 0.3,
                        r: 0.7
                    },
                    stops: [
                        [0, color],
                        [1, Highcharts.color(color).brighten(-0.3).get('rgb')] // darken
                    ]
                };
            })
        });

        // Build the chart for Top Sports
        Highcharts.chart('chartSTopSports', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: ''
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        connectorColor: 'silver'
                    }
                }
            },
            series: [{
                name: 'Share',
                data: [
                    { name: 'Football', y: 30 },
                    { name: 'Tennis', y: 70 }
                ]
            }]
        });


        // Build the chart for Top Sports
        Highcharts.chart('chartSProfit', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: ''
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        connectorColor: 'silver'
                    }
                }
            },
            series: [{
                name: 'Share',
                data: [
                    { name: 'Football', y: 29 },
                    { name: 'Tennis', y: 71 }
                ]
            }]
        });




        Highcharts.chart('winRateChart', {

            title: {
                text: ''
            },

            yAxis: {
                title: {
                    text: 'Progress'
                }
            },

            xAxis: {
                accessibility: {
                    rangeDescription: 'Range: 2015 to 2020'
                }
            },

            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 2015
                }
            },

            series: [{
                name: 'Win Rate',
                data: [-50, 0, 50, 120, 136, 150, 200, 205]
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }

        });
    </script>

   
}