
@{
    ViewBag.Title = "PindingPicK";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<style>
    .card .card-header {
        background-color: rgb(56, 64, 61);
        color:#fff;
        font-size:24px;
        font-weight:bold;
    }
    tr{
        text-align:center
    }
</style>
<br />
<br />
<div class="row">
    
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Pending Pick
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="card-title mb-0">Other</h5>

                        </div>
                        <div class="col-md-6">
                            <h5 class="card-title float-right mb-0">10/6/2020 20:20</h5>

                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Bet</th>
                                        <th>Pick</th>
                                        <th>Old</th>
                                        <th>Stake</th>
                                        <th>BookMarker</th>
                                        <th>Score</th>
                                        <th>Results</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Brayden Schnur-Raymond Sarmiento</td>
                                        <td>Brayden Schnur(To Win Match)</td>
                                        <td>2.1</td>
                                        <td>4/10</td>
                                        <td>Bet365</td>
                                        <td><input type="text" class="form-control" /></td>
                                        <td>
                                            <button class="btn-danger mb-1">Loss</button>
                                            <button class="btn-danger mb-1">-1/2</button>
                                            <button class="btn-info mb-1">Push</button>
                                            <button class="btn-success mb-1">+1/2</button>
                                            <button class="btn-success mb-1">Win</button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="card-title mb-0">Other</h5>

                        </div>
                        <div class="col-md-6">
                            <h5 class="card-title float-right mb-0">10/6/2020 20:20</h5>

                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Bet</th>
                                        <th>Pick</th>
                                        <th>Old</th>
                                        <th>Stake</th>
                                        <th>BookMarker</th>
                                        <th>Score</th>
                                        <th>Results</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Emesto Escobedo-Marcos Giron</td>
                                        <td>Emesto Escobedo +3.5 (Match Handicap(games))</td>
                                        <td>2.1</td>
                                        <td>4/10</td>
                                        <td>Bet365</td>
                                        <td><input type="text" class="form-control" /></td>
                                        <td>
                                            <button class="btn-danger mb-1">Loss</button>
                                            <button class="btn-danger mb-1">-1/2</button>
                                            <button class="btn-info mb-1">Push</button>
                                            <button class="btn-success mb-1">+1/2</button>
                                            <button class="btn-success mb-1">Win</button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="card-title mb-0">Spa. Primera</h5>

                        </div>
                        <div class="col-md-6">
                            <h5 class="card-title float-right mb-0">13/6/2020 20:20</h5>

                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Bet</th>
                                        <th>Pick</th>
                                        <th>Old</th>
                                        <th>Stake</th>
                                        <th>BookMarker</th>
                                        <th>Score</th>
                                        <th>Results</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mallorca-Barcelona</td>
                                        <td>Yes(Both Teams To Score)</td>
                                        <td>1.8</td>
                                        <td>4/10</td>
                                        <td>Bet365</td>
                                        <td><input type="text" class="form-control" /></td>
                                        <td>
                                            <button class="btn-danger mb-1">Loss</button>
                                            <button class="btn-danger mb-1">-1/2</button>
                                            <button class="btn-info mb-1">Push</button>
                                            <button class="btn-success mb-1">+1/2</button>
                                            <button class="btn-success mb-1">Win</button>   
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>

